<section class="home_section1">
    <div class="home_content content">
        <h1>Home Of The Most Delicious</h1>
        <h1>Healthy Made Cake</h1>
    </div>
</section>
<section class="home_section2 content">
    <div class="title">
        <h2>Enjoy Every bite of your dream dessert!</h2>
    </div>
    <div class="about">
        <div class="about_text">
            <h2>Make Your Party Delight By World's Best Cinnamon Cake</h2>
            <p>This Easy Cinnamon Cake, is one of the best cakes. It’s fast, easy and delicious. A soft full of cinnamon cake recipe. The scent of cinnamon baking in the oven has to be one of the most amazing aromas! The perfect anytime cake, from breakfast, to snack to dessert.</p>
            <p>This cinnamon cake was one of my mother’s recipes, my mother is probably my  main source for my non-Italian dessert recipes, because holy cow could my mother bake! From her shortbread cookies, to lemon bread to one of my favorite chocolate cake recipes, and of course this amazing cinnamon cake!</p>
        </div>
        <div class="about_img">
            <img src="images/home2.jpg" alt="Some Delicious Cake" />
        </div>
    </div>
</section>
<section class="home_section3 content">
    <div>
        <img src="images/home3.jpg" alt="Delightful Lemon" />
        <h3>Delightful Lemon</h3>
        <span>$69.00</span>
    </div>    
    <div>
        <img src="images/home4.jpg" alt="Sweet Surprise" />
        <h3>Sweet Surprise</h3>
        <span>$69.00</span>
    </div>
    <div>
        <img src="images/home5.jpg" alt="Cashmere Tank + Bag" />
        <h3>Cashmere Tank + Bag</h3>
        <span>$69.00</span>
    </div>
</section>
<section class="home_section4 content">
    <div class="blog">
        <h2>Our Blogs</h2>
        <div class="button">
            <a routerLink="/blog" >More Blog</a>
        </div>  
    </div> 
    <h2 class="blog_text">Discover other people's favorite recipes</h2>
</section>
<section class="home_section5 content">
    <div class="follow">
        <h2>Follow us</h2>
        <h2>Sweet moments are saved as memories!</h2>
        <div class="social">
            <a class="social_btn" href="#"><i class="fa fa-facebook"></i>Facebook</a>                              
            <a class="social_btn" href="#"><i class="fa fa-twitter"></i>Twitter</a>                         
            <a class="social_btn" href="#"><i class="fa fa-youtube"></i>Youtube</a>    
            <a class="social_btn" href="#"><i class="fa fa-instagram"></i>Instagram</a>    
        </div>
    </div>
    <div class="gallery">
        <div>
            <img src="images/home6.jpg" alt="Some Delicious Cake" />
        </div>        
        <div>
            <img src="images/home7.jpg" alt="Some Delicious Cake" />
        </div>
        <div>
            <img src="images/home8.jpg" alt="Some Delicious Cake" />
        </div>
        <div>
            <img src="images/home9.jpg" alt="Some Delicious Cake" />
        </div>
    </div>
</section>