<header>
    <div class="header_top">
        <div class="header_top_social">
            <ul>
                <li>
                    <a href="#" class="fa fa-facebook"></a>    
                </li>
                <li>
                    <a href="#" class="fa fa-twitter"></a>    
                </li>
                <li>
                    <a href="#" class="fa fa-youtube"></a>    
                </li>
                <li>
                    <a href="#" class="fa fa-instagram"></a>    
                </li>
            </ul>    
        </div>
        <div class="header_top_logo">
            <a routerLink="/" >
                <h1>Cake World</h1>
            </a>
        </div>
        <div class="header_top_phone">
            <a href="#" class="phone">Call us: +359 123 123</a>
        </div>
    </div>

    <div class="header_bottom">
        <app-navigation />
    </div>
</header>