.item {
    margin-bottom: 20px;
    text-align: center;
}

img {
    width: 100%;
}

.description h3 {
    margin: 16px 0;
}

.description span {
    color: #E5BF4A;
}

.button button{
    background: #E5BF4A;
    border: 2px solid #E5BF4A;
    color: #0A0A0A;
    font-size: 15px;
    font-weight: 400;
    display: inline-block;
    padding: 16px 34px;
    text-transform: uppercase;
    line-height: 15px;
    border-radius: 0px;
    cursor: pointer;
    margin-top: 12px;
}

.button button:hover,
.button button:active {
  background-color: #0A0A0A;
  color: #E5BF4A;
}