<div class="form_wrap">
    <p class="form_title">Share Your Recipe</p>
    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="control">
            <label for="title">Title</label>
            <input type="text" id="title" name="title" formControlName="title" placeholder="Title"/>
        </div>
        <div class="control">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" formControlName="name" placeholder="Full Name"/>
        </div>
        <div class="control">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" formControlName="email" placeholder="Email Address"/>
        </div>
        <div class="control">
            <label for="recipe">Recipe</label>
            <textarea id="recipe" rows="7" name="recipe" formControlName="recipe" placeholder="Share Your Recipe"></textarea>
        </div>

        @if (form.dirty && form.touched && form.invalid) {
            <p class="error_message">{{errorMessage}}</p>
        }
        
        <div class="actions">
            <button type="submit">Share</button>
        </div>
    </form>
</div>

